@font-face {
  font-family: "branchregular";
  src: url("../fonts/branch/branch-webfont.woff2") format("woff2"), url("../fonts/branch/branch-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "covesbold";
  src: url("../fonts/coves/coves_bold-webfont.woff2") format("woff2"), url("../fonts/coves/coves_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "coveslight";
  src: url("coves_light-webfont.woff2") format("woff2"), url("coves_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  display: flex;
  justify-content: space-between;
}

.white-line {
  background-color: #fff;
  width: 15%;
  position: relative;
  right: 0;
  display: none;
}
.white-line .label {
  height: 100vh;
}
.white-line .label p {
  text-transform: uppercase;
  font-family: "covesbold";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  position: fixed;
  right: 0;
  transform: translate(165px, -79px);
  rotate: 90deg;
}

.wrapper {
  width: 100%;
  padding: 1em;
}
.wrapper header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper header .logo {
  width: 3.5em;
}
.wrapper header .fake-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper header .fake-nav .menu {
  width: 1.5em;
}
.wrapper header .fake-nav a {
  display: none;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: "covesbold";
}
.wrapper .hero-section .main-typo {
  color: #fff;
  margin-top: 4em;
}
.wrapper .hero-section .main-typo p {
  font-family: "Poppins";
  text-transform: uppercase;
  font-weight: 275;
  font-size: 0.9em;
  letter-spacing: 0.25em;
  margin-bottom: 0.5em;
}
.wrapper .hero-section .main-typo p:nth-of-type(2) {
  font-weight: 300;
  font-size: 0.9em;
  text-transform: capitalize;
  letter-spacing: 0em;
  margin-top: 1.5em;
}
.wrapper .hero-section .main-typo h1 {
  font-family: "branchregular";
  font-style: normal;
  font-weight: 400;
  font-size: 2.1em;
}
.wrapper .hero-section .button {
  margin-top: 2.5em;
}
.wrapper .hero-section .button a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 0.8em;
  color: #fff;
  position: relative;
}
.wrapper .hero-section .button a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 250ms ease-in;
}
.wrapper .hero-section .button a:hover::after {
  transform: scaleX(0);
}
.wrapper .hero-section .real-time {
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 0.8em;
  margin-top: 3.5em;
  margin-bottom: 0.5em;
}
.wrapper .hero-section hr {
  height: 0.5px;
  background-color: #fff;
  border: none;
}
.wrapper .works-section {
  margin-top: 2em;
}
.wrapper .works-section h1 {
  font-family: "branchregular";
  font-style: normal;
  font-weight: 400;
  font-size: 2.1em;
  color: #fff;
}
.wrapper .works-section p {
  margin-top: 1.5em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 0.9em;
  color: #fff;
}
.wrapper .works-section .my-works {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5em;
  margin-bottom: -6px;
  margin-left: -5px;
}
.wrapper .works-section .my-works .work {
  flex: 1;
  background-color: #fff;
  width: 50px;
  height: 137px;
  margin: 5px;
  transition: 0.5s;
  filter: brightness(50%);
}
.wrapper .works-section .my-works .work:hover {
  flex: 1 1 50%;
  filter: none;
}
.wrapper .works-section .my-works .work img {
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .works-section .my-works .work .p1 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .works-section .my-works .work .p2 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .works-section .my-works .work .p3 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .works-section .my-works .work .p4 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .works-section .works-git {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 250;
  font-size: 0.8em;
  line-height: 1.2;
  text-transform: uppercase;
}
.wrapper .works-section a {
  text-decoration: none;
}
.wrapper .works-section a .works-git2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 0.8em;
  text-transform: uppercase;
  margin-top: -0.1em;
  margin-bottom: 0.5em;
}
.wrapper .works-section hr {
  height: 0.5px;
  background-color: #fff;
  border: none;
}
.wrapper .about-section {
  margin-top: 2em;
}
.wrapper .about-section h1 {
  font-family: "branchregular";
  font-style: normal;
  font-weight: 400;
  font-size: 2.1em;
  color: #fff;
}
.wrapper .about-section p {
  margin-top: 1.5em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 0.9em;
  color: #fff;
}
.wrapper .about-section p:nth-of-type(2) {
  margin-bottom: 1.5em;
  margin-top: 1em;
}
.wrapper .about-section p:nth-of-type(3) {
  font-family: "Poppins";
  font-style: normal;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 0.8em;
  color: #fff;
  margin-top: 1.5em;
}
.wrapper .about-section .button {
  margin-top: 2em;
  margin-bottom: 0.5em;
}
.wrapper .about-section .button a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 0.8em;
  color: #fff;
  position: relative;
}
.wrapper .about-section .button a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 250ms ease-in;
}
.wrapper .about-section .button a:hover::after {
  transform: scaleX(0);
}
.wrapper .about-section hr {
  height: 0.5px;
  background-color: #fff;
  border: none;
}
.wrapper .work-together-section {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}
.wrapper .work-together-section h1 {
  font-family: "branchregular";
  font-style: normal;
  font-weight: 400;
  font-size: 2.1em;
  color: #fff;
  text-align: center;
  margin-bottom: 0.5em;
}
.wrapper .work-together-section button {
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 200;
  font-size: 0.8em;
  padding: 5px 15px;
  margin-bottom: 2em;
  max-width: 200px;
  justify-self: center;
  align-self: center;
  transition: 0.5s;
}
.wrapper .work-together-section button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
}
.wrapper .work-together-section .socials {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 0.8em;
  font-weight: 200;
  display: flex;
  margin-bottom: 0.5em;
}
.wrapper .work-together-section .socials .header {
  text-transform: uppercase;
  color: #fff;
  margin-right: 2em;
}
.wrapper .work-together-section .socials a {
  text-decoration: none;
}
.wrapper .work-together-section .socials a p {
  color: rgb(208, 208, 208);
  margin-right: 1em;
}
.wrapper .work-together-section hr {
  height: 0.5px;
  background-color: #fff;
  border: none;
}

@media only screen and (min-width: 425px) {
  .wrapper .hero-section .main-typo p {
    font-size: 1em;
    margin-bottom: 0.5em;
  }
  .wrapper .hero-section .main-typo p:nth-of-type(2) {
    font-weight: 300;
    font-size: 0.9em;
    text-transform: capitalize;
    letter-spacing: 0em;
    margin-top: 1.5em;
    max-width: 320px;
  }
  .wrapper .hero-section .main-typo h1 {
    font-family: "branchregular";
    font-style: normal;
    font-weight: 400;
    font-size: 2.7em;
  }
  .wrapper .works-section h1 {
    font-size: 2.7em;
  }
  .wrapper .works-section p {
    max-width: 320px;
  }
  .wrapper .works-section .my-works .work {
    width: 50px;
    height: 170px;
  }
  .wrapper .about-section h1 {
    font-size: 2.7em;
  }
  .wrapper .work-together-section h1 {
    font-size: 2.7em;
  }
}
@media only screen and (min-width: 768px) {
  .white-line {
    display: block;
  }
  header .logo {
    margin-bottom: 1.5em;
  }
  header .menu {
    margin-bottom: 1.5em;
  }
  .wrapper {
    padding: 3.5em 1em 1em 3.5em;
  }
  .wrapper .hero-section .main-typo p {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    letter-spacing: 0.5em;
  }
  .wrapper .hero-section .main-typo p:nth-of-type(2) {
    font-weight: 300;
    font-size: 1.2em;
    text-transform: capitalize;
    letter-spacing: 0em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    max-width: 500px;
  }
  .wrapper .hero-section .main-typo h1 {
    font-family: "branchregular";
    font-style: normal;
    font-weight: 400;
    font-size: 4.3em;
    line-height: 1;
  }
  .wrapper .hero-section .button {
    margin-bottom: 6em;
  }
  .wrapper .hero-section .button a {
    font-size: 1em;
  }
  .wrapper .works-section h1 {
    font-size: 4.3em;
  }
  .wrapper .works-section p {
    font-size: 1.2em;
    max-width: 500px;
    margin-bottom: 1em;
  }
  .wrapper .works-section .my-works .work {
    width: 50px;
    height: 290px;
  }
  .wrapper .works-section .works-git {
    font-size: 1em;
    line-height: 1;
    margin-bottom: 4px;
    margin-top: 2em;
  }
  .wrapper .works-section a .works-git2 {
    font-size: 1em;
    margin-bottom: 2em;
  }
  .wrapper .about-section h1 {
    font-size: 4.3em;
  }
  .wrapper .about-section p {
    font-size: 1.2em;
    max-width: 660px;
  }
  .wrapper .about-section p:nth-of-type(2) {
    margin-bottom: 1.5em;
    margin-top: 1em;
  }
  .wrapper .about-section p:nth-of-type(3) {
    font-family: "Poppins";
    font-style: normal;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1em;
    color: #fff;
    margin-top: 1.5em;
  }
  .wrapper .about-section .button {
    margin-bottom: 2.5em;
  }
  .wrapper .about-section .button a {
    font-size: 1em;
  }
  .wrapper .work-together-section h1 {
    margin: 1em 0 0.5em 0;
    font-size: 4.3em;
  }
}/*# sourceMappingURL=main.css.map */