@font-face {
    font-family: 'branchregular';
    src: url('../fonts/branch/branch-webfont.woff2') format('woff2'),
         url('../fonts/branch/branch-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'covesbold';
    src: url('../fonts/coves/coves_bold-webfont.woff2') format('woff2'),
         url('../fonts/coves/coves_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'coveslight';
    src: url('coves_light-webfont.woff2') format('woff2'),
         url('coves_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    margin: 0;
    padding: 0;

}


body{
    background-color: #000;
    display: flex;
    justify-content: space-between;

}

.white-line{
    background-color: #fff;
    width: 15%;
    position: relative;
    right: 0;
    display: none;

    .label{
        height: 100vh;
        p{
            text-transform: uppercase;
            font-family: 'covesbold';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            position: fixed;
            right: 0;
            transform: translate(165px, -79px);
            rotate: 90deg;
        }
    }
}

.wrapper{
    width: 100%;
    padding: 1em;

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .logo{
            width: 3.5em;
        }
    
        .fake-nav{
            display: flex;
            flex-direction: column;
            align-items: center;

            .menu{
                width: 1.5em;
            }

            a{
                display: none;
                text-decoration: none;
                color: #fff;
                text-transform: uppercase;
                font-family: 'covesbold';
            }
        }
    }

    .hero-section{
        .main-typo{
            color: #fff;
            margin-top: 4em;
            p{
                font-family: 'Poppins';
                text-transform: uppercase;
                font-weight: 275;
                font-size: .9em;
                letter-spacing: 0.25em;
                margin-bottom: 0.5em;
    
                &:nth-of-type(2){
                    font-weight: 300;
                    font-size: .9em;
                    text-transform: capitalize;
                    letter-spacing: 0em;
                    margin-top: 1.5em;
                }
            }
    
            h1{
                font-family: 'branchregular';
                font-style: normal;
                font-weight: 400;
                font-size: 2.1em;
            }
    
        }

        .button{
            margin-top: 2.5em;
            a{
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 300;
                font-size: .8em;
                color: #fff;
                position: relative;

                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    left: 0;
                    bottom: 0;
                    background-color: #fff;
                    transform: scaleX(1);
                    transform-origin: left;
                    transition: transform 250ms ease-in;
                }

                &:hover::after{
                    transform: scaleX(0);
                }
            }
        }

        .real-time{
            color: #fff;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 200;
            font-size: .8em;
            margin-top: 3.5em;
            margin-bottom: 0.5em;
        }

        hr{
            height: 0.5px;
            background-color: #fff;
            border: none;
        }
    }

    .works-section{
        margin-top: 2em;
        h1{
            font-family: 'branchregular';
            font-style: normal;
            font-weight: 400;
            font-size: 2.1em;
            color: #fff;
        }

        p{
            margin-top: 1.5em;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 300;
            font-size: .9em;
            color: #fff;
        }

        .my-works{
            display: flex;
            justify-content: space-around;
            margin-top: .5em;
            margin-bottom: -6px;
            margin-left: -5px;

            .work{
                flex: 1;
                background-color: #fff;
                width: 50px;
                height: 137px;
                margin: 5px;
                transition: 0.5s;
                filter: brightness(50%);

                &:hover{
                    flex: 1 1 50%;
                    filter: none;
                }

                img{
                    object-fit: cover;
                }

                .p1{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .p2{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .p3{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .p4{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                
            }
        }

        .works-git{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 250;
            font-size: .8em;
            line-height: 1.2;
            text-transform: uppercase;
            
        }

        a{
            text-decoration: none;
            .works-git2{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 300;
                font-size: .8em;
                text-transform: uppercase;
                margin-top: -.1em;
                margin-bottom: 0.5em;
            }
        }
        hr{
            height: 0.5px;
            background-color: #fff;
            border: none;
        }
        
    }

    .about-section{
        margin-top: 2em;
        h1{
            font-family: 'branchregular';
            font-style: normal;
            font-weight: 400;
            font-size: 2.1em;
            color: #fff;
        }

        p{
            margin-top: 1.5em;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 300;
            font-size: .9em;
            color: #fff;

            &:nth-of-type(2){
                margin-bottom: 1.5em;
                margin-top: 1em;
            }

            &:nth-of-type(3){
                font-family: 'Poppins';
                font-style: normal;
                text-transform: uppercase;
                font-weight: 200;
                font-size: .8em;
                color: #fff;
                margin-top: 1.5em;
            }
        }

        .button{
            margin-top: 2em;
            a{
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 300;
                font-size: .8em;
                color: #fff;
                position: relative;

                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    left: 0;
                    bottom: 0;
                    background-color: #fff;
                    transform: scaleX(1);
                    transform-origin: left;
                    transition: transform 250ms ease-in;
                }

                &:hover::after{
                    transform: scaleX(0);
                }
            }
            margin-bottom: 0.5em;
        }

        hr{
            height: 0.5px;
            background-color: #fff;
            border: none;
        }
    }


    .work-together-section{
        margin-top: 2em;
        display: flex;
        flex-direction: column;

        h1{
            font-family: 'branchregular';
            font-style: normal;
            font-weight: 400;
            font-size: 2.1em;
            color: #fff;
            text-align: center;
            margin-bottom: .5em;
        }

        button{
            border: 1px solid #fff;
            background-color: #000;
            color: #fff;
            text-transform: uppercase;
            font-family: 'Poppins';
            font-weight: 200;
            font-size: 0.8em;
            padding: 5px 15px;
            margin-bottom: 2em;
            max-width: 200px;
            justify-self: center;
            align-self: center;
            transition: .5s;

            &:hover{
                cursor: pointer;
                background-color: #fff;
                color: #000;
            }
        }

        .socials{
            text-decoration: none;
            font-family: 'Poppins';
            font-size: 0.8em;
            font-weight: 200;
            display: flex;
            margin-bottom: 0.5em;
            
            .header{
                text-transform: uppercase;
                color: #fff;
                margin-right: 2em;
            }

            a{
                text-decoration: none;
                p{
                    color: rgb(208, 208, 208);
                    margin-right: 1em;

                }
            }
        }

        hr{
            height: 0.5px;
            background-color: #fff;
            border: none;
        }
    }
}


// RESPONSIVIDADE

@media only screen and (min-width: 425px) {
    .wrapper{
        .hero-section{
            .main-typo{
                p{
                    font-size: 1em;
                    margin-bottom: 0.5em;
        
                    &:nth-of-type(2){
                        font-weight: 300;
                        font-size: .9em;
                        text-transform: capitalize;
                        letter-spacing: 0em;
                        margin-top: 1.5em;
                        max-width: 320px;
                    }
                }
        
                h1{
                    font-family: 'branchregular';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 2.7em;
                }
            }
        }

        .works-section{
            h1{
                font-size: 2.7em;
            }
    
            p{
                max-width: 320px;
            }

            .my-works{
                .work{
                    width: 50px;
                    height: 170px;
                    
                }
            }

        }

        .about-section{
            h1{
                font-size: 2.7em;
            }
        }

        .work-together-section{
            h1{
                font-size: 2.7em;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .white-line{
        display: block;
    }

    header{
        .logo{
            margin-bottom: 1.5em;
        }
        .menu{
            margin-bottom: 1.5em;
        }
    }

    .wrapper{
        padding: 3.5em 1em 1em 3.5em;
        .hero-section{
            .main-typo{
                p{
                    font-size: 1.2em;
                    margin-bottom: 0.5em;
                    letter-spacing: 0.50em;
        
                    &:nth-of-type(2){
                        font-weight: 300;
                        font-size: 1.2em;
                        text-transform: capitalize;
                        letter-spacing: 0em;
                        margin-top: 1.5em;
                        margin-bottom: 1em;
                        max-width: 500px;
                    }
                }
        
                h1{
                    font-family: 'branchregular';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 4.3em;
                    line-height: 1;
                }
            }

            .button{
                margin-bottom: 6em;
                a{
                    font-size: 1em;
                }
            }
        }

        .works-section{
            h1{
                font-size: 4.3em;
            }
    
            p{
                font-size: 1.2em;
                max-width: 500px;
                margin-bottom: 1em;
            }

            .my-works{
                .work{
                    width: 50px;
                    height: 290px;
                    
                }
            }

            .works-git{
                font-size: 1em;
                line-height: 1;
                margin-bottom: 4px;
                margin-top: 2em;
            }

            a{
                .works-git2{
                    font-size: 1em;
                    margin-bottom: 2em;
                }
                
            }

        }

        .about-section{
            h1{
                font-size: 4.3em;
            }

            p{
                font-size: 1.2em;
                max-width: 660px;
    
                &:nth-of-type(2){
                    margin-bottom: 1.5em;
                    margin-top: 1em;
                }
    
                &:nth-of-type(3){
                    font-family: 'Poppins';
                    font-style: normal;
                    text-transform: uppercase;
                    font-weight: 200;
                    font-size: 1em;
                    color: #fff;
                    margin-top: 1.5em;
                }
            }

            .button{
                margin-bottom: 2.5em;
                a{
                    font-size: 1em;
                }
            }
        }

        .work-together-section{
            h1{
                margin: 1em 0 0.5em 0;
                font-size: 4.3em;
            }

            button{

            }

            .socials{

            }


        }
    }

}